<div id="sidebar">
    <div class="filters">
        <span class="filter">Tudo</span>
    </div>
    <hr/>
    <div class="filters">
        <span class="tittle">CATEGORIA</span>
        <span class="filter">Acessórios</span>
        <span class="filter">Bermudas</span>
        <span class="filter">Blusas</span>
        <span class="filter">Calças</span>
        <span class="filter">Camisetas</span>
        <span class="filter">Sapatos</span>
    </div>
    <hr/>
    <div class="filters">
        <span class="tittle">DISPONÍVEL</span>
        <span class="filter">Sim</span>
        <span class="filter">Não</span>
    </div>
    <hr/>
    <div class="filters">
        <span class="tittle">COLEÇÃO</span>
        <input/>
        <button>Pesquisar</button>
    </div>
    <hr/>
    <div class="filters">
        <span class="tittle">LOGS</span>
        <span class="filter">Data de inicio</span>
        <span class="filter">Data final</span>
        <span class="filter">Campo Alterado</span>
        <span class="filter">Código do Produto</span>
        <span class="filter">ID do Usuário</span>
        <button>Buscar</button>
    </div>
</div>