@import "src/scss/colors.scss";
@import "src/scss/font.scss";

#sidebar {
    width: 100%;
    height: 100%;
    background-color: $light2;
    font-size: map-get($font-size, tittle );
    font-weight: map-get($font-weight, strong);
    overflow-y: auto;
    padding: 0px 4px;

    &::-webkit-scrollbar {
        width: 8px;
        scroll-behavior: smooth;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #929FB1;
        border-radius: 90px;
    }
    > .filters {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 0px;
        > .tittle {
            color: $gold2;
            margin-bottom: 10px;
        }
        > .filter {
            margin: 2px 0px;
            &:hover {
                color: $gold2;
                cursor: pointer;
            }
        }
    }
}