@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
@import "./scss/colors.scss";

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
h1,h2,h3,h4,h5,h6 {
    font-family: "Nunito";
}
