$light1: #ffffff;
$light2: #f5f5f5;
$light3: #e4e4ff;
$light4: #95d5df66;

$dark1: #000000;
$dark2: #272727;
$dark3: #cfcfcf;

$gold1: #fbff00;
$gold2: #ffd700;

$success: #63ba3c;
$error: #e5493a;
$info: #4bade8;
$warning: #f79232;