<main>
    <img src="assets/img/logo.png" alt="logo" />
    <section>
        <h1>SISTEMA DE GERENCIAMENTO PARA REDE DE LOJAS DE MODA</h1>
        <span>
            <i class="material-icons">done</i>Criar, modificar e deletar registros dos produtos
        </span>
        <span>
            <i class="material-icons">done</i>Atualização em massa de registros
        </span>
        <span>
            <i class="material-icons">done</i>Permissões de usuário
        </span>
        <span>
            <i class="material-icons">done</i>Sistema de logs
        </span>
    </section>
    <section>
        <login></login>
    </section>
</main>